.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
